
<div class= "row">
  <h2><%= org%>'s snippets</h2>
</div>


<div class="row col-lg-9 gistThumbs">
</div>

<div class="row col-lg-3 ">
  <a class="invisible" id="resetFilters" href="#"><p class="text-center"> reset filters </p></a>
  <div class="panel panel-default">
    <div class="panel-heading">Filter by User</div>
    <div class="panel-body users"></div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Filter by Language</div>
    <div class="panel-body languages"></div>
  </div>
</div>
